<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1>Products</h1><br>
      <form [formGroup]="searchForm">
        <div class="form-group">
          <label for="searchInput">Search:</label>
          <div class="input-group">
            <input type="text" class="form-control" id="searchInput" formControlName="searchInput">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="search()">Search</button>
            </div>
          </div>
        </div>
      </form><br>
      <div class="row">
        <div *ngFor="let book of filteredBooks" class="col-lg-4">
          <app-card [book]="book" (addBook)="insertBook($event)"></app-card>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h1>Cart</h1>
      <ul class="list-group list-group-flush">
        <li *ngFor="let cartItem of cartItems; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          <div class="cart-item">
            <div class="cart-item-title">{{ cartItem.item.title }}</div>
            <div class="cart-item-price text-muted">{{ cartItem.item.price.displayValue }}</div>
            <div class="cart-item-qty d-flex align-items-center">
              Qty:
              <button class="btn btn-primary btn-sm mx-2" (click)="updateQuantity(cartItem, 'decrement')">-<i class="bi bi-dash"></i></button>
              <span class="mx-2">{{ cartItem.qty }}</span>
              <button class="btn btn-primary btn-sm mx-2" (click)="updateQuantity(cartItem, 'increment')">+<i class="bi bi-plus"></i></button>
            </div>
          </div>
          <button (click)="removeFromCart(i)" class="btn btn-danger btn-sm">Remove</button>
        </li>
      </ul>
      <div class="cart-total pt-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="text-muted">Total:</div>
          <div class="h4">{{ getTotalPrice() }}</div>
        </div>
      </div>
    </div>
  </div>
</div>